@model Aiursoft.WeChatExam.Entities.Category

<tr>
    <td>@Model.Title</td>
    <td>@(Model.Parent == null ? Localizer["Top Level"].Value : Model.Parent.Title)</td>
    <td>
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-sm btn-info">@Localizer["Details"]</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-warning">@Localizer["Edit"]</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger">@Localizer["Delete"]</a>
    </td>
</tr>

